.dataContainer{
    background-color: #e8e7e4;  height: calc(100vh - 85px);
}
.search-form {
	.date-field > input {
		padding-right: 20px;
	}
	i {
		position: absolute;
		color: #000;
		opacity: 0.7;
		top: 9px;
		right: 10px;
	}
}